/* font */


/* 
* {
    padding: 0;
    margin: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #343a40;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f6f3e4;
}

.active {
    opacity: 1;
}

.line {
    width: 103.16px;
    position: absolute;
    bottom: 0;
    height: 3px;
    left: 0;
    background-color: #343a40;
    transition: all 0.2s ease;
}


/* ======================= HEADER ==============================*/

.clear {
    clear: both;
}

.main .header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #6c757d4d;
    width: 100%;
    z-index: 9999;
    background-color: #f6f3e4;
}

.header .logo img {
    margin-left: 100px;
    width: 181.64px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.header .header__content {
    cursor: pointer;
    display: grid;
    margin-right: 100px;
    padding-top: 9px;
}

.header__content .header__content-down,
.header__content .header__content-up {
    display: flex;
}

.header__content-up .search__infor {
    position: relative;
}

.header__content-up .search__infor .__search {}

.search__infor .__search {
    /* 344 40 */
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 31px;
    z-index: 99999;
    border: 0;
    outline: 0;
    background-color: #343a40;
    display: block;
    color: floralwhite;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.header__content .header__content-up {
    justify-content: flex-end;
}

.header__content-up .header__infor {
    border-right: 1px solid rgba(51, 51, 51, 0.301);
    height: 15px;
    line-height: 15px;
    padding: 0 20px;
    color: #6c757d;
}

.header__content-up .header__infor:last-child {
    border-right: 0;
    color: #6c757d;
}

.header__content .header__content-down {
    width: 745.75px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    position: relative;
}

.header__content-down .header__text {
    padding: 0 14px 22px 14px;
    padding-top: 5px;
    line-height: 35px;
    position: relative;
}

.header__content-down .header__text::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #f6f3e4;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: all 0.25s;
}

.header__content-down .header__text:hover::after {
    background-color: #343a40;
}


/* ======================== SLIDER ========================== */

.slider {
    position: relative;
}

.slider__container {
    display: flex;
    flex-basis: auto;
    justify-content: center;
}

.slider .content__slider {
    /* background-image: url(./img/slider/slider.jpg); */
    height: 557px;
    margin-top: 92px;
    background-position: center;
    background-size: cover;
}

.slider .content__slider img {
    width: 1349px;
    height: 558px;
    transition: all 0.2s ease-in-out;
}

.dot__slider {
    position: absolute;
    background-color: #007bff;
    bottom: 0;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    transition: background-color 0.6s ease;
}


/* ==================== CONTENT ================== */

.content {
    margin: 30px auto;
    width: 1163px;
}

.main__content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.title__content {
    text-align: center;
}

.title__first__content {
    font-size: 40px;
}

.title__first__content:hover {
    opacity: 0.7;
}

.product__content img {
    width: 276px;
    height: 414px;
}

.product__content .cost {
    font-weight: 600;
    font-size: 15px;
    padding: 5px 0;
}

.see__more {
    text-align: center;
    width: 1149px;
    padding: 40px 0;
}

.see__more button {
    padding: 15px 50px;
    border: 2px solid #333;
    font-size: 15px;
    font-weight: 600;
    background-color: #f6f3e4;
    transition: all 0.25s ease-in-out;
}

.see__more button:hover {
    background-color: #343a40;
    color: #fff;
}

.first__content {
    border-bottom: 1px solid #bbb;
}


/* =========== SECOND CONTENT ============= */

.second__content {
    margin-top: 25px;
}

.second__content p {
    font-size: 20px;
}

.second__content__infor img {
    width: 375px;
}

.second__content__infor {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


/* ========= FOOTER ===========*/

.footer__big {}

.footer__content {
    padding-top: 20px;
    display: flex;
    flex-basis: auto;
    justify-content: center;
}

.footer__content .box__content {
    width: 337px;
    height: 127px;
    text-align: center;
    align-items: center;
    background-color: #212121;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #f8f9fa;
    border-right: 0.5px solid rgba(187, 187, 187, 0.24);
}

.footer__content .box__content i {
    font-size: 35px;
    margin-bottom: 5px;
    color: #bbb;
}

.box__content h4 {
    font-size: 13px;
}

.box__content p {
    font-size: 14px;
}

.footer {
    margin: 50px 95px 0 95px;
    display: flex;
    flex-basis: auto;
    border-bottom: 1px solid #6c757d50;
    padding-bottom: 50px;
    justify-content: center;
}

.footer__box {
    width: 386.3333333333333px;
    height: 120px;
    padding-top: 10px;
}

.footer .footer__box .links {
    font-weight: 700;
}

.footer .footer__box a,
.footer .footer__box p {
    margin-top: 5px;
}

.footer .footer__box .links:hover {
    opacity: 0.6;
}

.footer .footer__box {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.xml {
    width: 82px;
    height: 32px;
}

.footer__box .icon {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.footer__box .icon i {
    margin: 4px;
    color: #212121;
}

.footer__box .icon-i:hover {
    opacity: 1;
}

.end__page {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
    font-size: 15px;
    color: rgba(51, 51, 51, 0.411);
}


/* ======================== MODEL LOGIN ====================== */

.model__login {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    left: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 999999;
    transition: 0.3s;
}

.model__effect {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99999;
    display: none;
}

.model__login .model__login__container {
    position: absolute;
    background-color: #f6f3e4;
    right: 0;
    top: 0;
    bottom: 0;
    left: 100%;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.bi-x {
    font-size: 30px;
}

.model__login__container>p {
    font-size: 35px;
    margin: 10px 0;
}

.model__login__container .fomr__container {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
}

.line {
    height: 1px;
    background-color: #212121;
    width: 100%;
}

.line__login {
    background-color: #f6f3e4;
    height: 3px;
    width: 100%;
    margin-bottom: 20px;
    opacity: 0.6;
}

.fomr__container p {
    padding: 20px 20px;
    font-size: 17px;
    opacity: 0.6;
    cursor: pointer;
}

.model__login__container .form__login {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.form__login input {
    padding: 15px 20px 20px 0;
    outline: 0;
    border: 0;
    background-color: #f6f3e4;
    border-bottom: 1px solid #21212152;
}

.form__login .sign {
    padding: 15px;
    outline: 0;
    border: 0;
}

.form__login #password {
    margin-bottom: 20px;
}

.form__login ::placeholder {
    font-family: sans-serif;
    font-size: 15px;
}

.form__login .sign {
    background-color: #212121;
    color: #f8f9fa;
    font-size: 17px;
    margin-bottom: 40px;
    transition: all 0.3s ease;
    border: 1px solid;
}

.form__login .sign:hover {
    background-color: #f6f3e4;
    color: #212121;
    border: 1px solid #212121;
}

.choice {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    padding: 0 40px;
}

.choice>p {
    font-size: 17px;
}

.icon__choice {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
}

.icon__choice .bi-google,
.icon__choice .uil-facebook {
    font-size: 40px;
}

.choice__item>p {
    font-size: 15px;
    margin-top: 10px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}